@model IEnumerable<OrcamentoData.OrcamentosProdutos>

<table class="table" style="border:2px solid gray;">
    <tr>
        <th style="background-color:rgb(231, 231, 231);">Dados dos Produtos</th>
        <th style="background-color:rgb(231, 231, 231);"></th>
        <th style="background-color:rgb(231, 231, 231);"></th>
        <th style="background-color:rgb(231, 231, 231);"></th>
        <th style="background-color:rgb(231, 231, 231);"></th>
    </tr>
    <tr>
        <th>Unid.</th>
        <th>Descriminação do Produto</th>
        <th>Quant.</th>
        <th>V. Unitário</th>
        <th>Total</th>
    </tr>

    @{var OrcProd = (List<OrcamentoData.OrcamentosProdutos>)ViewBag.List;}

    @{int IdOrcProd = ViewBag.IdOrcamento;}

    @{decimal TotalOrc = 0;}

    @if (OrcProd != null)
    {
        foreach (var orcprod in OrcProd)
        {
            if (orcprod.Orcamento.IdOrcamento == IdOrcProd)
            {
                <tr>
                    <td>@orcprod.Produto.Unidade.Sigla</td>
                    <td>@orcprod.Produto.NomeProduto</td>
                    <td>@orcprod.Quantidade</td>
                    <td>@orcprod.Produto.Valor</td>
                    <td>@orcprod.TotalItem</td>
                </tr>
                TotalOrc = TotalOrc + @orcprod.TotalItem;
            }
        }
    }
    <tr>
        <th>Total Orcamento</th>
        <th></th>
        <th></th>
        <th></th>
        <th>@TotalOrc</th>
    </tr>
</table>
