@model OrcamentoData.Unidades

@{
    ViewBag.Title = "DeleteUnidades";
}

<h2>DeleteUnidades</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Unidades</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdUnidade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdUnidade)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sigla)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sigla)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NomeUnidade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NomeUnidade)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "IndexUnidades")
    </p>
}
