@model OrcamentoData.Categorias

@{
    ViewBag.Title = "EditCategorias";
}

<h2>EditCategoria</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Categorias</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCategoria)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdCategoria)
            @Html.ValidationMessageFor(model => model.IdCategoria)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NomeCategoria)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NomeCategoria)
            @Html.ValidationMessageFor(model => model.NomeCategoria)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DescricaoCategoria)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DescricaoCategoria)
            @Html.ValidationMessageFor(model => model.DescricaoCategoria)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "IndexClientes")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
