@model IEnumerable<OrcamentoData.Categorias>

@{
    ViewBag.Title = "IndexCategorias";
}

<h2>Categorias</h2>

<div style="margin-left:78%;">
    <h4 style="margin-left:5%;">Pesquisar Por Nome:</h4>
    <form action="/Home/PesquisarCategorias" method="post" style="text-align:left">
        <input style="width: 100px;" id="Nome" type="text" name="Nome"  />
        <input type="submit" name="pesquisar" value="Pesquisar" />
    </form>
</div>
<br />


<p>
    @Html.ActionLink("Cadastrar", "CreateCategorias")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoCategoria)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoCategoria)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditCategorias", new { pIdCategoria = item.IdCategoria }) |  
            @Html.ActionLink("Deletar", "DeleteCategorias", new { pIdCategoria = item.IdCategoria })
        </td>

    </tr>
}

</table>
