@model IEnumerable<OrcamentoData.Unidades>

@{
    ViewBag.Title = "IndexUnidades";
}

<h2>Unidades</h2>

<div style="margin-left:78%;">
    <h4 style="margin-left:5%;">Pesquisar Por Nome:</h4>
    <form action="/Home/PesquisarUnidades" method="post" style="text-align:left">
        <input style="width: 100px;" id="Nome" type="text" name="Nome" />
        <input type="submit" name="pesquisar" value="Pesquisar" />
    </form>
</div>
<br />


<p>
    @Html.ActionLink("Cadastrar", "CreateUnidades")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdUnidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeUnidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sigla)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdUnidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeUnidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sigla)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditUnidades", new { pIdUnidade = item.IdUnidade }) |
            @Html.ActionLink("Deletar", "DeleteUnidades", new { pIdUnidade = item.IdUnidade })
        </td>
    </tr>
}

</table>
