@model IEnumerable<OrcamentoData.Orcamentos>

@{
    ViewBag.Title = "PesquisarOrcamentos";
}

<br />
<h4>@Html.ActionLink("Novo", "IniciarOrcamentos") </h4>


<h1>Orçamentos</h1>
<table class="table">
    <tr>
        <th>Código</th>
        <th>Cliente</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var orcamento in Model)
    {
        <tr>
            <td>@orcamento.IdOrcamento</td>
            <td>@orcamento.Cliente.NomeCliente</td>
            <td>@Html.ActionLink("Visualizar", "VisualizarOrcamentos", new { pIdOrcamento = orcamento.IdOrcamento }) </td>
            <td>@Html.ActionLink("Editar", "EditOrcamentos", new { pIdOrcamento = orcamento.IdOrcamento }) </td>
            <td>@Html.ActionLink("Excluir", "DeleteOrcamentos", new { pIdOrcamento = orcamento.IdOrcamento })</td>
        </tr>
    }
</table>